@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-red-900 dark:text-white;
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
}
